<header>
  <nav class="navbar navbar-expand-md navbar-light" style="background-color: beige;">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls_new">Create New URL</a>
        <div class="d-flex">

          <%if (username){%>
            <form class="nav-item username-form" method="POST" action="/logout">
                <label>Logged in as: <%=username%></label>
              <button type="sign-out" class="btn btn-secondary btn-small">Sign Out</button>
            </form>
            <%} else {%>
            <form class="nav-item username-form" method="POST" action="/login">
              <label for="username"></label><input type="username" name="username" placeholder="username">
            <button type="sign-in" class="btn btn-secondary btn-small">Sign In</button>
          </form>
            <%}%>
        </div>
      </div>
  </nav>
</header>
