<link rel="stylesheet" href="/css/stylesheet.css" type="text/css">
  <header>
    <nav class="nav-container">
      <div class="nav-left">
        <div class="logo">
          TINYapp
        </div>
        <div class="nav-links">
          <a href="/urls">My URLs</a>
          <a href="/urls_new">Create New URL</a>
        </div>
      </div>
      <div class="nav-button">
        <%if (user){%>
          <form method="POST" action="/logout">
              <label><%=user.email%></label>
            <button type="sign-out">Sign Out</button>
          </form>
          <%} else {%>
          <a href="../login">
            <button type="sign-in">Sign In</button>
          </a>
          <a href="../register">
            <button type="register">Register</button>
          </a>
          
          <%}%>
      </div>
    </nav>
  </header>