<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head') %>
<body>
  <div class="container">
    <div class="welcome">
      <div>
        <h1>WELCOME TO TINY<span class="coral-text">app</span></h1>
      </div>
      <div class="tagline">
        <h6>Life's too short for long URLs</h6>
      </div>
    </div>
    <div class="sign-in-form">
      <div>
        <form method="POST" action="/login">
          <input type="email" name="email" placeholder="email">
          <input type="password" name="password" placeholder="password"> 
          <br>
          <button>Log In</button>
        </form>
        <div>
          <h5>First time? <a href="/register"><span class="coral-text">Register</span></a></h5>
          <h5>Or continue as <a href="/urls"><span class="coral-text">Guest</span></a></h5>
        </div>
      </div>
    </div>
  </div>
</body>
</html>