<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_head') %>
    <title>Create TinyURL</title>
  </head>

  <body>

    <%- include('partials/_navbar') %>

    <main>
      <div class="title create-url">
        <h3>Create TINYurl</h3>

      </div>
      <div class="title">
        <form action="/urls" method="POST">
          <div>
            <label for="longURL">Enter a URL:</label>
            <input class="form-control" type="text" name="longURL" placeholder="http://" style="width: 300px; margin: 1em">
            <button type="submit">Submit</button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>